:root{
    --primary-color: #91cccc; /*dark blue*/
    --secondary-color: #adb4b4; /*sea blue*/
    --accent1-color: #030311; /*light blue*/
    --accent2-color: #B6E1C4; /*light green*/
    --heading-font: "Merryweather Sans", sans-serif;
    --body-font: "Lato", sans-serif;
}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap:4rem;
    width: 100px;
    padding: 20px;
}
header img{
    height: 100px;
    width: auto;
}
nav {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    background-color: var(--primary-color);
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;

}
nav a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fffcfc;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex img{
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

figure {
    border: none;
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 15%;
    margin: auto;
}
figure img {
    width: 140px;
    height: 150px;
}

figcaption {
    background-color: #fffcfc;
    color: #161515;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,main,footer {
    width: 840px;
    margin: 0 auto;
}

.hero h1,h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}
footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #91cccc;
}

nav a img{
    width: 35px;
}
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 400px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #e0d4d4; /* white text*/
}

.hero article img {
    float: right;
    width: 125px;
    height: 100px;
    order: 2;
}

.hero article{
    display: flex;
    position:absolute;
    top: 120px;
    background-color: var(--secondary-color);
    align-items: center;
}
.adventure div{
    display: flex;
}

.info h1, .info h2{
    color: #744f25;
    text-align: center;

}
.maps{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.maps p{
    padding: 0.5px;
    text-align:left;
}
.map-text{
    padding-top: 20%;
}
.map{
    grid-row: 1/4;
    grid-column: 2/3;
}
.map iframe{
    width: 600px;
    height: 300px;
}

.jpg{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.employees{
    display: flex;
}

.employee img{
    width: 250px;
    height: 200px;
    padding: 20px;
    margin-left: -75px;
}
.employee figcaption{
    background-color: #fffcfc;
    color: #533f20;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
.form{
    max-width: 600px;
    margin: 0 18%;
}
label,legend {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
  }
.input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 45%;
  }

textarea{
    width: 500px;
}
#name, #email{
    width: 196px;
}

